#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.main {
  width: 100%;
  display: flex;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-panel, #right-panel {
  flex: 2;
  text-align: center;
}

.microwave-frame {
  max-width: 1000px;
  border-radius: 1em;
  padding: 1em;
  background-color: #E4E4E4;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.info-box {
  flex: 1;
  flex-basis: 600px;
  box-sizing: border-box;
  padding: 1em;
  border: #E4E4E4 dashed 2px;
  border-radius: 1em;
  margin: 1em;
}

.info-box-title {
  text-align: left;
  margin: 1em 0em 0em 1em;
  text-decoration: underline;
}

.info-box-images {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
}

.info-box-image-text {
  white-space: nowrap;
}

.info-box-image {
  max-width: 100%;
  border-radius: 5px;
}

.microwave {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1em;
  padding: 1em;
  background-color: black;
}

.microwave > div {
  background-color: black;
}

/* 
14-Segment font
https://github.com/keshikan/DSEG
*/
@font-face {
  font-family: 'DSEG';
  src: url('./fonts/DSEG14Classic-BoldItalic.woff2') format('woff2'),
       url('./fonts/DSEG14Classic-BoldItalic.woff') format('woff');
}

.display {
  font-family: 'DSEG';
  font-size: 1.5em;
  background-color: #222222;
  color: #20C20E;
  border-radius: 0.5em;
  margin: 1em;
  text-align: right;
}

.display > p {
  padding: 0.5em 1.5em 0.5em 1.5em;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  25%, 75% {
    opacity: 1;
  }
  100%, 0% { 
    opacity: 0; 
  }
}

.door {
  flex: 2;
  position: relative;
  cursor: pointer;
}

.control-panel {
  flex: 1;
}

.background-elements {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.sandwich-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Microwave light on */
.microwaving .background-elements, .microwaving .sandwich-elements {
  filter: sepia(50%) saturate(250%);
}

.foreground-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.image-upload {
  display: flex;
  flex-direction: column;
}

#user-image {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

input[type="file"] {
  display: none;
}

#image-upload-input, #image-download-button {
  display: inline-block;
  padding: 0.5em;
  margin-top: 0.25em;
  border-radius: 0.25em;
  background-color: #222222;
  color: #E4E4E4;
  cursor: pointer;
  font-size: 0.75em;
}

/* plate spinning */
.microwaving #user-image {
  animation: spinning 10s linear infinite;
}

@keyframes spinning {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media (max-width: 1200px) {
  /* rearranges side panels & info boxes */
  .main {
    flex-direction: column;
  }

  #left-panel {
    display: none;
  }

  .info-box {
    min-width: auto;
  }
}

@media (max-width: 1000px) {
  #user-image {
    max-height: 20vw;
  }
}

@media (max-width: 768px) {
  #root {
    font-size: 0.75em;
  }
}

@media (max-width: 576px) {
  /* separates Microwave door and control panel */
  .microwave {
    flex-direction: column;
  }

  #root {
    font-size: 0.6em;
  }
}