#root {
  text-align: center;
}

.microwave-frame {
  border-radius: 1em;
  padding: 5em;
  background-color: #E4E4E4;
}

.microwave {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 1em;
  padding: 1em;
  background-color: black;
}

.microwave > div {
  background-color: black;
}

.display {
  background-color: #222222;
  color: #20C20E;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em;
}

.door {
  flex: 2;
  position: relative;
}

.control-panel {
  flex: 1;
}

.background-elements {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.sandwich-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foreground-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}